# ========== Python ==========
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyd
*.pyo
*.sqlite3
*.log
*.bak

# ========== Virtualenv / venv ==========
venv/
env/
ENV/
.venv/

# ========== Trash ==========
.DS_Store
Thumbs.db

# ========== Build / dist ==========
build/
dist/
*.spec

# ========== Tests  / coverage ==========
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# ========== Node / frontend ==========
node_modules/
*.lock